@font-face {
  font-family: 'OmarFont';
  src: url('../../assets/fonts/HelveticaNeue-Medium.woff') format('woff');
}

@font-face {
  font-family: 'OmarFont2';
  src: url('../../assets/fonts/HelveticaNeueBold.woff') format('woff');
}

@font-face {
  font-family: 'OmarFont3';
  src: url('../../assets/fonts/HelveticaNeueLight.woff') format('woff');
}

.navbar{
  font-family: OmarFont;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__links{
    &-text{
      &--stuff{
      text-decoration: none;
      color: black;
      padding-bottom:0.2rem;

      &:hover{
        box-shadow: inset 0 -2px 0 0 #E62B1E; 
      }
      }
    }
  }

  

  &__logo{

    &-img{
        height:60%;
        width:60%;
        margin-left: 1rem;
        margin-top: 1rem;
    }
  }
    
  &__links{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.2rem;
  }
  
}

.greything{
  width: 100%;
  height: 10rem;
  background-color: #f2f2f2;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: OmarFont3;
  &__text{
    margin-left: 1rem;
  }

  &__title{
    margin-right:1rem;
  }
}
