.card {
  box-sizing: border-box;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
  width: 30%;
  border-radius: 10px;

  .card__videoPreview {

    img {
      width: 200px;
      height: 200px;
    }
  }
  .card__videoDescription {
    width: 200px;
  }

  .card__videoTitle-text{
    font-weight: bold;
  }
}
